/* custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand-name{
    font-family: 'Pacifico', cursive;
}
.custom-bg-color{
    background-color: #EEEFF1;
}
.slider-font{
    font-family: 'Kaushan Script', cursive;
}
.slider-text{
    top: 30%;
}
.learn-more-button{
    border: 1px solid;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: white;
}
.learn-more-button:hover{
    background-color: #404040;
    color: white;
    border: 1px solid #404040;
    transition: 0.2s;

}
.custom-border-radius{
    border-radius: 30px;
}